{% extends 'template.html.twig' %}

{% block title %}Détails de {{ animal.nom }}{% endblock %}

{% block monTitre %}Détails de {{ animal.nom }}{% endblock %}

{% block content %}

    <div class="row gx-0 mt-4 align-items-center">
        <div class="col-6 text-center">
            <img src="{{ asset('images/' ~ animal.image) }}" alt="Image {{ animal.nom }}">
        </div>
        <div class="col-6">
            <ul>
                <li>{{ animal.nom }}</li>
                <li>{{ animal.description }}</li>
                <li>Poids : {{ animal.poids }} kg</li>
                {% if (animal.dangereux) %}
                <li>Dangeureux : <span class="badge rounded-pill bg-danger">Oui</span></li>
                {% else %}
                <li>Dangeureux : <span class="badge rounded-pill bg-success">Non</span></li>
                {% endif %}
                <li><a href="{{ path('famille', {id: animal.famille.id}) }}" class="btn btn-primary">{{ animal.famille.libelle }}</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
