{% extends 'template.html.twig' %}

{% block title %}Liste des animaux{% endblock %}

{% block monTitre %}Liste des animaux{% endblock %}

{% block content %}

    <div class="row gx-0">

        {% for animal in animaux %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card text-white bg-primary m-2">
                <h3 class="card-header">{{ animal.nom}}</h3>
                <div class="card-body text-center">
                    <img style="height: 150px;" class="img-fluid" src="{{ asset('images/' ~ animal.image) }}" alt="image {{ animal.nom }}">
                </div>
                <div class="card-body">
                    <p class="card-text">{{ animal.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{{ path('famille', {id: animal.famille.id}) }}" class="btn btn-primary">{{ animal.famille.libelle }}</a></li>
                    <li class="list-group-item"><a href="{{ path('animal', {id: animal.id}) }}" class="card-link">Voir détails</a></li>
                </ul>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}
